



#menu {
    ul {
        display: flex;
        padding: 0;
        padding: 10px 0;
        flex-flow: wrap;
    }
    li {
        width: 25%;
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
        a {
            width: 100%;
            text-align: center;
            display: inline-block;
            div {
                img {
                    width: 50px;
                }
                div {
                    width: 100%;
                    color: #5a5a5a;
                }
            }
        }
    }
}

#recommen {
    ul {
        margin-bottom: 0;
        li {
            display: flex;
            border-bottom: 1px solid #ccc;
            padding: 10px;
            .pic {
                flex: 1;
                width: 100px;
                height: 100px;
                padding: 10px 0;
                display: inline-block;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .cmdMsg {
                margin-left: 5px;
                flex: 3;
                display: inline-block;
                .cmdtitle {
                    color: #333;
                    font-size: 15px;
                    line-height: 19px;
                    // text-align: center;
                    min-height: 57px;
                    font-weight: normal;
                    .productName {
                    }
                    .money {
                        color: #ff6c00;
                    }
                }
                .cmdfooter {
                    margin-top: 10px;
                        font-size: 12px;
                    .cmdData {
                        color: #a1a1a1;
                        float: left;
                        .productFrom{
                            float: left;
                        }
                        .productTime{
                            float: left;
                        }
                    }
                    .Comment {
                        margin-right: 5px;
                        float: right;
                        img {
                            float: right;
                        }
                        span {
                            float: right;
                            color: #a1a1a1;
                            font-size: 12px;
                            margin-left: 5px;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
    }
    .moreThan {
        background: #F7F7F7;
        padding: 10px 15px 20px;
        button {
            width: 100%;
            height: 35px;
            text-align: center;
            border-radius: 5px;
            background-color: #F4F4F4;
            border: 1px solid #ddd;
            margin: 0 auto;
        }
    }
}


